$background: #242424;
$on-background: #ffffff;

$card-background: rgba(white, 0.1);
$card-background-hover: rgba(white, 0.2);
$card-border: 1px solid rgba(white, 0.1);
$card-border-hover: 1px solid rgba(white, 0.3);
$card-on-background: #242424;

$content-background: rgba(white, 0.1);
$content-border: 1px solid rgba(white, 0.1);
$contact-card-on-background: #ffffff;
$contact-card-background: rgba(black, 0.5);
$contact-border: 1px solid rgba(white, 0.1);